core
.gdb_history
Makefile.in
Makefile
.deps
.libs
*-coverage
*.a
*.gcda
*.gcno
*.info
*.o
*.lo
*.log
*.la
.tarball-version
*.trs
*~

#ignore files produced by gcc -save-temps
*.i
*.ii
*.s

#ignore files produced by gcc -MD
*.d

.autotools
.cproject
.project
.settings

# Eclipse build dirs
/build-*
!build-aux

LIBOBJ
/m4/lt*
/m4/libtool*
/autom4te.cache
/aclocal.m4
/config.log
/config.status
/config.sub
/config.guess
/configure
/config.h.in
/config.h
/compile
/install-sh
/missing
/ltmain.sh
/libtool
/depcomp
/stamp-h*
configure.lineno


*.o
*.obj
*.ilk
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.ncb
*.idb
*.pch
*.exp
*.sbr
*.bsc
BuildLog.htm
mt.dep
*intermediate.manifest
*embed.manifest*
*.aps
*.db
*.lastbuildstate
*.log
*.opendb
*.suo
*.tlog

*.pdb

*.exe
*.dll

*.lib
*.res
*.tlb

*.user

.vs
Debug
Release
